@keyframes pulsate {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.4;
  }
}

.pulsating {
  opacity: 0.8;
  animation-name: pulsate;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

//
.bg-full {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

//
.bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
